NODE_ENV=development
DATABASE_URL=postgress url 
REDIS_URL=redis://redis:6379
KAFKA_BROKERS=kafka:29092
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_WS_URL=http://localhost:3000
JWT_SECRET=d47b2917585becbdda22e092d2dc3b9c067e4a119d19ce64165a5b112a51e0bf
AUTH_MODE=local
RASP_KEY=demo_agent_key_12345
RASP_URL=localhost:50051