NODE_ENV=development
DATABASE_URL=postgresql://postgres:Soulmad16092005@db.whpzyfcppwtkevtztrve.supabase.co:5432/postgres
REDIS_URL=redis://redis:6379
KAFKA_BROKERS=kafka:29092
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_WS_URL=http://localhost:3000
JWT_SECRET=super_secret_jwt_key_for_dev_only
AUTH_MODE=local
RASP_KEY=demo_agent_key_12345
RASP_URL=localhost:50051